.wrappedText {
    border: 1px solid #DCDCDC;
    padding: 10px;
    background: rgb(233, 233, 233);
    border-radius: 10px;
}

.wrapper {
    border: 1px solid #DCDCDC;
    padding: 10px;
    height: 100%;
    background: white;
    border-radius: 10px;
}

.registerButton {
    margin-top: 20px !important;
    width: 100%;
}